# Porta em que a API vai rodar
PORT=3000

# URL de conexão do PostgreSQL no Neon (Cloud)
# Substitua os valores abaixo pelos dados do seu projeto no Neon.
# Exemplo: postgresql://usuario:senha@ep-broken-darkness-123456.us-east-2.aws.neon.tech/nome_do_banco?sslmode=require
DATABASE_URL="postgresql://UTILIZADOR:SENHA@HOST_DO_NEON/NOME_DO_BANCO?sslmode=require"